Repository Fig-Grove/quickfig, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fig-grove/quickfig-maintainers, @fig-grove/core-team, @fig-grove/cli-team, @fig-grove/testing-team, @fig-grove/devops-team, @fig-grove/docs-team, @fig-grove/legal-team, @fig-grove/quality-team, @fig-grove/performance-team, @fig-grove/quickjs-team, @fig-grove/compatibility-team

.github/CODEOWNERS:

# QuickFig Code Owners
# 
# This file defines individuals or teams that are responsible
# for code in this repository.
#
# For more information about CODEOWNERS, see:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners - these users will be requested for review on all PRs
* @fig-grove/quickfig-maintainers

# Core framework code
/src/ @fig-grove/quickfig-maintainers @fig-grove/core-team

# CLI and command-line interface
/src/cli/ @fig-grove/quickfig-maintainers @fig-grove/cli-team

# Testing infrastructure and adapters
/src/adapters/ @fig-grove/quickfig-maintainers @fig-grove/testing-team
/test/ @fig-grove/quickfig-maintainers @fig-grove/testing-team

# Build and deployment configuration
/package.json @fig-grove/quickfig-maintainers @fig-grove/devops-team
/tsconfig.json @fig-grove/quickfig-maintainers @fig-grove/core-team
/eslint.config.js @fig-grove/quickfig-maintainers @fig-grove/core-team
/.prettierrc @fig-grove/quickfig-maintainers @fig-grove/core-team

# CI/CD and GitHub configuration
/.github/ @fig-grove/quickfig-maintainers @fig-grove/devops-team
/.github/workflows/ @fig-grove/quickfig-maintainers @fig-grove/devops-team
/.github/dependabot.yml @fig-grove/quickfig-maintainers @fig-grove/devops-team

# Documentation
/README.md @fig-grove/quickfig-maintainers @fig-grove/docs-team
/CHANGELOG.md @fig-grove/quickfig-maintainers @fig-grove/docs-team
/MIGRATION_GUIDE.md @fig-grove/quickfig-maintainers @fig-grove/docs-team
/TESTING_PATTERNS.md @fig-grove/quickfig-maintainers @fig-grove/docs-team
/TROUBLESHOOTING.md @fig-grove/quickfig-maintainers @fig-grove/docs-team
/docs/ @fig-grove/quickfig-maintainers @fig-grove/docs-team

# Examples and usage patterns
/examples/ @fig-grove/quickfig-maintainers @fig-grove/docs-team

# Security and compliance
/LICENSE @fig-grove/quickfig-maintainers @fig-grove/legal-team

# Quality gates and constraint detection (critical path)
/src/constraints/ @fig-grove/quickfig-maintainers @fig-grove/core-team @fig-grove/quality-team
/src/quality-gates/ @fig-grove/quickfig-maintainers @fig-grove/core-team @fig-grove/quality-team

# Performance and benchmarking
/src/benchmarks/ @fig-grove/quickfig-maintainers @fig-grove/performance-team

# QuickJS environment simulation (critical path)
/src/harness/ @fig-grove/quickfig-maintainers @fig-grove/core-team @fig-grove/quickjs-team
/src/mocks/ @fig-grove/quickfig-maintainers @fig-grove/core-team @fig-grove/quickjs-team

# Polyfills and environment compatibility
/src/polyfills/ @fig-grove/quickfig-maintainers @fig-grove/core-team @fig-grove/compatibility-team

# Type definitions
/src/types/ @fig-grove/quickfig-maintainers @fig-grove/core-team

feat: add TextDecoder polyfill for QuickJS compatibility
  src/mocks/mock-quickjs-harness.ts
  src/polyfills/core-polyfills.ts
  src/polyfills/environment-polyfills-impl.ts
  src/polyfills/environment-polyfills.test.ts
Owners: @fig-grove/quickfig-maintainers, @fig-grove/core-team, @fig-grove/quickjs-team, @fig-grove/compatibility-team

refactor: rename figjar-polyfills-integration.test.ts to polyfills-integration.test.ts
  src/polyfills/polyfills-integration.test.ts
Owners: @fig-grove/quickfig-maintainers, @fig-grove/core-team, @fig-grove/compatibility-team

feat: add TextDecoder polyfill and prepare v1.0.1 release
  .gitignore
  package.json
  src/adapters/ava.ts
  src/adapters/jest.ts
  src/benchmarks/constraint-detection-overhead.test.ts
  src/benchmarks/index.ts
  src/benchmarks/regression-tracker.ts
  src/cli/index.ts
  src/constraints/constraint-test-runner.ts
  src/constraints/figma-constraint-detector.ts
  src/constraints/polyfill-budget-manager.ts
  src/harness/isolated-quickjs-harness.ts
  src/harness/quickjs-harness.ts
  src/index.ts
  src/isolation/test-isolation-manager.ts
  src/mocks/figma-runtime-simulator.ts
  src/mocks/quota-mocks.ts
  src/mocks/setup.ts
  src/polyfills/debug-utils.ts
  src/polyfills/index.ts
  src/polyfills/polyfill-error-boundaries.ts
  src/polyfills/polyfill-initialization.ts
  src/polyfills/polyfill-test-helper.ts
  src/polyfills/polyfill-types.ts
  src/polyfills/polyfills-direct.test.ts
  src/polyfills/polyfills-validation.test.ts
  src/polyfills/worker-constraint.ts
  src/quality-gates/quality-gates-runner.ts
  src/types/figma.ts
  src/types/performance-types.ts
Owners: @fig-grove/quickfig-maintainers, @fig-grove/devops-team, @fig-grove/testing-team, @fig-grove/performance-team, @fig-grove/cli-team, @fig-grove/core-team, @fig-grove/quality-team, @fig-grove/quickjs-team, @fig-grove/compatibility-team

fix: restrict dependency-review to pull requests only
  .github/workflows/dependencies.yml
Owners: @fig-grove/quickfig-maintainers, @fig-grove/devops-team

style: fix Prettier formatting for polyfill files
  src/polyfills/core-polyfills.ts
  src/polyfills/environment-polyfills-impl.ts
  src/polyfills/environment-polyfills.test.ts
Owners: @fig-grove/quickfig-maintainers, @fig-grove/core-team, @fig-grove/compatibility-team

fixed npm badge
  README.md
Owners: @fig-grove/quickfig-maintainers, @fig-grove/docs-team
